/* COLOR PALETTE:
Black: #0E0B16
White: #E7DFDD
Blue: #4717F6
Fuschia: #A239CA 
*/
/* INTER FONT WEIGHTS:
Thin 100
Regular 400
Bold 700 */

/* GLOBAL STYLES */
.App {
  display: grid;
  justify-items: center;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #0e0b16;
  color: #e7dfdd;
  font-weight: 400;
}
button {
  background-color: transparent;
  border: none;
  color: #e7dfdd;
}

/* SEARCH AND FILTER STYLES */

.searchAndFilterFlex {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header searchBar search filter";
  width: 500px;
  height: 100px;
  background-color: #4717f6;
  border-bottom: #a239ca;
  border-width: 5px;
  border-style: none none solid none;
}
.searchAndFilterHeader {
  grid-area: header;
  padding: 5px;
}

.search {
  align-self: center;
  grid-area: search;
  text-align: right;
  padding: 5px;
}
.searchBar {
  align-self: center;
  grid-area: searchBar;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
}

.filter {
  align-self: center;
  grid-area: filter;
  text-align: right;
  padding: 5px;
}

/* TILE STYLES */

/* img {
  width: 300px;
} */

.tile {
  background-color: #0d042b;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto auto auto 1fr;
  grid-template-areas:
    "tileVotes title title title title title"
    "tileVotes pic pic pic pic pic"
    ". pic pic pic pic pic"
    ". pic pic pic pic pic"
    ". pic pic pic pic pic"
    ". footer footer footer footer comment"
    ". commentData commentData commentData commentData commentData";
}

.tileTitle {
  grid-area: title;
}

.tileImage {
  grid-area: pic;
  width: 95%;
}
.tileFooter {
  grid-area: footer;
  align-self: center;
}
.tileComment {
  grid-area: comment;
  text-align: center;
  align-self: center;
  color: #a239ca;
}
.tileArrowUp {
  grid-area: tileVotes;
  text-align: center;
  padding-top: 10px;
  color: #a239ca;
}
.tileArrowDown {
  grid-area: tileVotes;
  text-align: center;
  color: #a239ca;
  padding-top: 80px;
}

.tileVotes {
  grid-area: tileVotes;
  text-align: center;
  padding-top: 30px;
}

.tileCommentData {
  grid-area: commentData;
  background-color: #4717f6;
}

.tileNSFW {
  grid-area: pic;
  background-color: #4717f6;
    display: flex;
  justify-content: center;
  align-items: center;
}

a:link {
  color: none;
  text-decoration: none;
  background-color: none;
}
a:visited {
  color: none;
  text-decoration: none;
  background-color: none;
}
a:hover {
  color: none;
  text-decoration: none;
  background-color: none;
}
a:active {
  color: none;
  text-decoration: none;
  background-color: none;
}




/* RESPONSIVITY */

/* MOBILE */
@media only screen and (max-width: 767px) {
  body {
    background-color: #0e0b16;
  }
}
/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #0e0b16;
  }
}
/* DESKTOP */
@media (min-width: 1024px) {
  body {
    background-color: #0e0b16;
  }
}
