/* COLOR PALETTE:
Black: #0E0B16
White: #E7DFDD
Blue: #4717F6
Fuschia: #A239CA 
Navy: #0d042b
*/
/* INTER FONT WEIGHTS:
Thin 100
Regular 400
Bold 700 */

/* GLOBAL STYLES */
.App {
  display: grid;
  justify-items: center;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #0e0b16;
  color: #e7dfdd;
  font-weight: 400;
}
button {
  background-color: transparent;
  border: none;
  color: #e7dfdd;
}
img {
  max-width: 100%;
  max-height: 100%;
}

/* SEARCH AND FILTER STYLES */

.searchAndFilterFlex {
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header header header searchBar search filter";
  width: 500px;
  height: 100px;
  background-color: #4717f6;
  border-bottom: #a239ca;
  border-width: 5px;
  border-style: none none solid none;
}
.searchAndFilterHeader {
  grid-area: header;
  padding: 5px;
}

.search {
  align-self: center;
  grid-area: search;
  text-align: right;
  padding: 5px;
}
.searchBar {
  align-self: center;
  grid-area: searchBar;
  text-align: right;
  padding: 5px;
  border-radius: 5px;
}

.filter {
  align-self: center;
  grid-area: filter;
  text-align: right;
  padding: 5px;
}

/* TILE STYLES */

/* img {
  width: 300px;
} */

.tile {
  background-color: #0d042b;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto auto auto auto 1fr;
  grid-template-areas:
    "tileVotes title title title title title"
    "tileVotes pic pic pic pic pic"
    ". pic pic pic pic pic"
    ". pic pic pic pic pic"
    ". pic pic pic pic pic"
    ". footer footer footer footer comment"
    ". commentData commentData commentData commentData commentData";
}

.tileTitle {
  grid-area: title;
}

.tileImage {
  grid-area: pic;
  width: 95%;
}
.tileFooter {
  grid-area: footer;
  align-self: center;
}
.tileComment {
  grid-area: comment;
  text-align: center;
  align-self: center;
  color: #a239ca;
}
.tileArrowUp {
  grid-area: tileVotes;
  text-align: center;
  padding-top: 10px;
  color: #a239ca;
}
.tileArrowDown {
  grid-area: tileVotes;
  text-align: center;
  color: #a239ca;
  padding-top: 80px;
}

.tileVotes {
  grid-area: tileVotes;
  text-align: center;
  padding-top: 30px;
}

.tileCommentData {
  grid-area: commentData;
  color: #4717f6;
}

.individualComment:nth-child(odd) {
  color: #a239ca;
}

/* CAROUSEL STYLING */

.slider-wrapper {
  /* margin: 1rem; */
  position: relative;
  overflow: hidden;
}

.slides-container {
  /* height: calc(100vh - 2rem); */
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

/* HIDE SCROLLBAR  */
.slides-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
/* WebKit */
.slides-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* NSFW styling */
.tileNSFW {
  grid-area: pic;
  color: #e7dfdd;
  background-color: #4717f6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.tileNSFW a:link {
  color: #e7dfdd;
  text-decoration: none;
  background-color: transparent;
}

.tileNSFW a:visited {
  color: #a239ca;
  text-decoration: none;
  background-color: transparent;
}

.tileNSFW a:hover {
  color: #0d042b;
  text-decoration: none;
  background-color: transparent;
}

.tileNSFW a:active {
  color: #a239ca;
  text-decoration: none;
  background-color: transparent;
}

/* article tags styling (for titles/links) */
a:link {
  color: #e7dfdd;
  text-decoration: none;
  background-color: transparent;
}
a:visited {
  color: #a239ca;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #4717f6;
  text-decoration: none;
  background-color: transparent;
}
a:active {
  color: #e7dfdd;
  text-decoration: none;
  background-color: transparent;
}

/* RESPONSIVITY */

/* MOBILE */
@media only screen and (max-width: 767px) {
  body {
    background-color: #0e0b16;
  }
}
/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #0e0b16;
  }
}
/* DESKTOP */
@media (min-width: 1024px) {
  body {
    background-color: #0e0b16;
  }
}
