/* COLOR PALETTE:
Black: #0E0B16
White: #E7DFDD
Blue: #4717F6
Fuschia: #A239CA 
*/
/* INTER FONT WEIGHTS:
Thin 100
Regular 400
Bold 700 */

/* GLOBAL STYLES */
body {
  font-family: 'Inter', sans-serif;
  background-color: #0e0b16;
  color: #e7dfdd;
  font-weight: 400;
}

/* RESPONSIVITY */

/* MOBILE */
@media only screen and (max-width: 767px) {
  body {
  background-color: #4717F6;
}

}
/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  body {
  background-color: #A239CA ;
}
}
/* DESKTOP */
@media (min-width: 1024px) {
  body {
  background-color: #0E0B16;
}
}