/* COLOR PALETTE:
Black: #0E0B16
White: #E7DFDD
Blue: #4717F6
Fuschia: #A239CA 
Navy: #0d042b
*/
/* INTER FONT WEIGHTS:
Thin 100
Regular 400
Bold 700 */



/* GLOBAL STYLES */
.App {
  display: grid;
  justify-items: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.e {
  justify-self: end;
}

.form-group{
  display: grid;
}

button {
  justify-self: center;
}
.form {
  display: grid;
  gap: 10px;
  /* background-color: rgb(94, 144, 45); */
  padding: 20px;
  border-radius: 5px;
}

.login{
  text-align: center;
}

/* Shop Feed Product Styles Below: */
.product{
  /* background-color: rgb(94, 144, 45); */
  margin: 10px;
  padding: 10px;
}
.product_name{
  font-size: large;
  font-weight: bold;
}
.product_img{
  max-height: 300px;
}

.grid{
  display: grid;
  max-width: 600px;
}

.shop-width{
  margin: 25px;
  max-width: 1000px;
}

.checkout_button{
  margin-bottom: 10px;
  text-align: center;
}


.cartIcon{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}

.editIcon{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}
